/taller3_Netbeans/taller3_Hilos/nbproject/private/
/taller3_Netbeans/taller3_Hilos/build/
/Clase 3 Sockets TCP - UDP/ClientTCP/build/
/Clase 3 Sockets TCP - UDP/ClientTCP/dist/
/Clase 3 Sockets TCP - UDP/ClientTCP/nbproject/private/
/Clase 3 Sockets TCP - UDP/Cliente2/build/
/Clase 3 Sockets TCP - UDP/Cliente2/dist/
/Clase 3 Sockets TCP - UDP/Cliente2/nbproject/private/
/Clase 3 Sockets TCP - UDP/ClienteUDP/build/
/Clase 3 Sockets TCP - UDP/ClienteUDP/nbproject/private/
/Clase 3 Sockets TCP - UDP/ServerTCP/build/
/Clase 3 Sockets TCP - UDP/ServerTCP/nbproject/private/
/Clase 3 Sockets TCP - UDP/ServerTCP2/build/
/Clase 3 Sockets TCP - UDP/ServerTCP2/nbproject/private/
/Clase 3 Sockets TCP - UDP/ServidorUDP/build/
/Clase 3 Sockets TCP - UDP/ServidorUDP/nbproject/private/
/Clase 3 Sockets TCP - UDP/multicastUDP/build/
/Clase 3 Sockets TCP - UDP/multicastUDP/nbproject/private/