<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" href="#">Online</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['game-list']">Games</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['game']">Administrar</a>
    </div>
  </div>
</nav>
<!-- <div className="content-ppal-menu">
    <div className="content-ppal-item content-ppal-online">Online</div>
    <div className="content-ppal-item content-ppal-games">Games</div>
    <div className="content-ppal-item content-ppal-admin">Administrar</div>
</div> -->
