.content-ppal-online {
    background-image: url(imgs/section1.jpg);
}

.content-ppal-games {
    background-image: url(imgs/section2.jpg);
}

.content-ppal-admin {
    background-image: url(imgs/section3.jpg);
}
