<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
            <%if (locals.error) { %>
                <div class="alert alert-danger">
                    <strong>Error!</strong> <%= locals.error %>
                </div>
            <% } %>
        <div class="form-group">
            <form action="/books/<%= book._id%>" method="POST">
              <label>Title</label>
              <input type="text" name="title" class="form-control" placeholder="Ingrese Titulo">
              <br>
              <label>Author</label>
              <input type="text" name="author" class="form-control" placeholder="Ingrese Autor">
              <br>
              <label>Pages</label>
              <input type="text" name="pages" class="form-control" placeholder="Ingrese Páginas">
              <br>
              <label>Price</label>
              <input type="text" name="price" class="form-control" placeholder="Ingrese Precio">
              <br>
                <input type="submit" name="" value="Enviar" class="btn btn-info">
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
